.markdown-container {
    @apply prose dark:prose-invert prose-p:leading-relaxed prose-pre:p-0 min-w-full break-words space-y-1;
    line-height: 1.2 !important; /* slightly tighter, but still readable */
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.markdown-container p,
.markdown-container li,
.markdown-container ul,
.markdown-container h1,
.markdown-container h2,
.markdown-container h3 {
    font-size: 16px !important;
    line-height: 1.5 !important;
}
.markdown-container p {
    margin: 0 0 0.75rem 0;
}
.markdown-container h1 {
    @apply text-xl font-bold mt-4 mb-1 text-slate-900;
}

.markdown-container h2 {
    @apply text-lg font-semibold mt-3 mb-1 text-slate-900;
}

.markdown-container h3 {
    @apply text-base font-semibold mt-2 mb-[2px] text-slate-900;
}

.markdown-container p {
    @apply text-[14px] text-slate-800 leading-relaxed my-[2px];
}

.markdown-container ul {
    @apply list-disc pl-4 mt-[2px] mb-[2px];
}

.markdown-container li {
    @apply ml-5 text-[14px] leading-snug text-slate-800;
}

.markdown-container img {
    @apply max-w-[67%];
}

.markdown-container code {
    @apply bg-gray-100 text-rose-600 font-medium px-1 rounded;
}